@page "/about"
<PageTitle>About</PageTitle>
@rendermode InteractiveServer

<h3>Exercise 3 - Sep 2024</h3>
<h4>Author: Youfang Yao</h4>
<h4>Section: E02</h4>
<h4>Instructor: Tina Caron</h4>
<h4>Known Bugs: </h4>
<ul>

</ul>
