@page "/"

<PageTitle>Book Reviews</PageTitle>

<h1>Book Reviews</h1>

<div style="text-align:center">
    <img src="hero.png" alt="hero image"/>
</div>

<h2>Welcome to DMIT Book Reviews.</h2>

<p>You can find the book reviews you are interested in here, including the reviewer's information, such as name, contact information, review time, work organization, etc.We are sure that this information can be of great help to your study and work.</p>

<p>Our book reviews will continue to be updated, please pay more attention.</p>